<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lecture21.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D66A0031C6029C600F6FB30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D66A0171C6029C600F6FB30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D66A0221C6029C600F6FB30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
